@charset "utf-8";

@import url(animate.min.css);
@import url(util.css);
@import url(base.css);
@import url(popup.css);

/* 페이지 */
 #wrap{overflow:hidden;width: 768px;height: 1024px;padding: 50px;background-repeat: no-repeat;background-size: 100% auto;position: relative}
 .wrapper{position: relative;height: 100%}
 #num{position:absolute;left: 0;top: 100%;margin-top: 12px;font-size: 12px;line-height: 15px;display: flex;align-items: center;font-family: 'KoPubDotum',sans-serif}
 #num>b{position:relative;font-size: 15px;margin-right: 10px}
.page-odd #num{left: auto;right: 0;flex-direction: row-reverse}
.page-odd #num>b{margin-left: 10px;margin-right: 0}
.para{line-height: 32px;text-indent: 1em}
.page-odd #num .text-circle{order: 1;width: 15px;line-height: 15px;font-size: 12px;background: #7a2843;margin: 1px 3px 0 0}

.para-title{font-size: 19px;color: #154376;font-family: 'KoPubDotum', sans-serif;display: block;margin-bottom: 10px;line-height: 23px}
.para-first{margin-top: -7px}
.bottom-content{position: absolute !important;left: 0;right: 0;bottom: 0}

/* Layer */
.layer-wrp{position: relative}
.layer-wrp.open{z-index: 100}
.open .layer{z-index:30}
.layer-wrp-left .layer{right: auto;left: 0}
.layer-wrp-right .layer{left: auto;right: 0}
.layer-wrp-center .layer{right: 50%;transform: translateX(50%)}
.layer-wrp-btm .layer{top: auto;bottom: 100%}
.layer-wrp-top .layer{bottom: auto;top: 100%}
.layer{display:none;position: absolute;top: 100%;right: 0;min-width: 195px;margin: 7px 0 5px;border:2px solid #ff6a94;border-radius: 6px;background: #fff}
.layer-full{width: 668px}
[data-toggle=layerClse]{cursor: pointer}
.layer[data-toggle=layerClse]:before, .icon-layer-clse{content:'';display:block;position:absolute;top: -5px;right: -5px;width: 26px;height: 26px;background:url(../images/common/close.png) no-repeat 50% 50%;background-size: 26px auto;cursor:pointer}
.icon-layer-clse{z-index: 5}
.layer-body{padding: 20px;line-height: 27px;font-family: 'KoPubDotum',sans-serif;text-align: justify}
.layer-sm{width: 325px;top: 0;margin: 0}
.layer-wrp-btm>.layer-sm{top: auto;bottom: 0}

/* 레이어-이번시간에는 */
.layer-unit{border-color: #a32eea;width: 668px;left: -155px;right: auto}
.layer-unit[data-toggle=layerClse]::before{background-image: url(../images/common/close_purple.png)}
.utility .layer{top: 0;margin-top: 0;width: 350px}
.utility .layer-body{padding: 15px 20px;line-height: 25px}

/* 레이어-안전,도움말 */
.layer-safe{background: #fff6f4;border-color: #b51f1f}
.layer-safe .icon-layer-clse, .layer-safe[data-toggle=layerClse]:before{background-image: url(../images/common/close_safe.png)}
.layer-help{background: #f1faff;border-color: #1b60ab}
.layer-help .icon-layer-clse, .layer-help[data-toggle=layerClse]:before{background-image: url(../images/common/close_help.png)}
.utility .title{font-size: 20px;line-height: 20px;display: flex;align-items: center;margin-bottom: 10px}
.utility .title [class*=icon-]{margin-right: 5px}
.layer-safe .title{color: #b51f1f}
.layer-help .title{color: #1b60ab}
.layer-safe .icon-alert{width: 20px;height: 20px;margin-top: -3px}
.safe-check>li+li{margin-top: 7px}
.layer-safe [class="icon-safe"]{margin-right: 4px}
.layer-safe .icon-audio{margin: 0 10px 0 4px !important}

/* 레이어-실험보고서 */
.exp-report{position: absolute;left: 0}
.btn-exp-report{font-size: 14px;line-height: 17px;text-align: left;color: #305168;padding: 6px 0 0 33px;background: url(../images/common/btn-exp-report.png) no-repeat 0 0/auto 30px;font-weight: 700}
.exp-report .layer{width: 350px}
.exp-reprt-title{position:relative;color: #305168;line-height: 18px;background: url(../images/common/exp-reprt-title.png) no-repeat 0 0/auto 18px;padding-left: 22px;display: inline-block;margin-bottom: 7px}

/* 레이어-문항알럿 */
#answerMsg{display: none;position: absolute;top: 50%;left: 50%;z-index: 1000;width: 375px;height: 293px;background: url(../images/common/answerMsg.png) no-repeat 0 0/auto 100%;margin: -187px 0 0 -188px;cursor: pointer}
.answer-msg{display:none;position:absolute;top:50%;left:50%;z-index:10000;width:241px;margin-left:-120px;padding:40px 0;border:4px solid #ff6a94;border-radius:10px;background-color:#fff;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.answer-msg [data-toggle=layerClse]{top: 0;right: 0;background: none}
.answer-msg:after{content:'';display:block;position:absolute;top:-4px;left:0;right:-4px;width:auto;height:50px;border-radius:10px 10px 0 0;background:url(../images/common/thick_clse.png) no-repeat 100% 0;background-size:50px}
.answer-msg .txt{padding-top:48px;font-size: 17px;text-align:center;font-weight:700;font-family: 'KoPubDotum';background:url(../images/common/answer_chk.png) no-repeat 50% 0;background-size:35px 35px;color:#ff6a94}

/* 레이어-펜 쓰기 */
.draw{position: absolute;left: 0;top: 0;z-index: 20}
.layer-draw .draw{position: static;margin-left: -10px;vertical-align: top;border-bottom: 1px solid #ff5f50}
.layer-draw{margin: 5px 0 !important;width: 524px;padding: 0 30px 0 10px;border-radius: 10px}
.layer-draw-small{width: auto;min-width: 0;padding: 0 20px;border-radius: 10px;white-space: nowrap}
.draw+.draw-option{margin-right: -20px}
.btn-draw-wrp{position: absolute;top: 34px;right: 0;left: auto}
.draw-option{display: -ms-flexbox;display: flex;-ms-flex-pack: justify;justify-content: space-between;-ms-flex-align: center;align-items: center;height: 54px;font-size: 0}
.draw-option .caret{border-bottom-color: #f45100;vertical-align:top}
.colorchart button{display:inline-block;position:relative;width: 25px;height: 25px;margin: 0 4px;border-radius:50%;font-size:0;background-color: currentColor}
.colorchart button:after{content: '';position: absolute;top: -5px;left: -5px;width: 35px;height: 35px;border: 2px solid currentColor;border-radius: 100%;display: none}
.colorchart .color02{color:#ff0000}
.colorchart .color03{color:#0000ff}
.colorchart .color04{color:#fdce54}
.colorchart .color05{color:#000000}
.linewidth button{display:inline-block;line-height: 1;position:relative;width: 39px;height: 39px;margin:0 4px;font-size:0;border: 2px solid #d1d3dc;border-radius: 8px;vertical-align: top}
.linewidth .on{border-color: #ff6a94}
.linewidth button:after{content: '';display: block;width: 8px;height: 8px;border-radius: 100%;margin: auto;background: #ff6a94}
.linewidth .line2:after{width: 10px;height: 10px}
.linewidth .line3:after{width: 13px;height: 13px}
.linewidth .line4:after{width: 15px;height: 15px}
.colorchart .on:after, .linewidth .on:after{display: block}
.draw-option .icon-eraser.on{background-image:url(../images/common/icon_pen.png)}
.icon-eraser{width: 29px;height: 33px;background-image:url(../images/common/icon_eraser.png)}
.icon-del{width: 29px;height: 30px;background-image:url(../images/common/icon_del.png)}
.icon-pen{width:29px;height:33px;background-image:url(../images/common/icon_pen.png)}
.painting-area{position: relative}
.painting-area>img{-webkit-touch-callout: none;-webkit-user-select: none;-ms-user-select: none;user-select: none}

/* Title */
.page-title{font-family: 'CookieRun',sans-serif;font-size: 36px;line-height: 45px;font-weight: 700;letter-spacing: -.05em;padding: 0 0 18px}
.page-title>span{display: block}
.page-title>span:nth-child(2){text-align: right;padding: 0 110px 0 0}
.page-title>span>span{color:#f08300}
.how-title, .arrange-title{display: block;font-size: 18px;letter-spacing: -.025em;color: #1a6881;font-weight: 700;margin-right: 10px}
.arrange-title{color: #8e3f66;margin-bottom: 10px}
.idea-title{display: block;width: 150px;height: 33px;background: url(../images/common/idea-title.svg) no-repeat 0 0/100% auto;color: #fff;font-size: 17px;padding-left: 7px;line-height: 2em}
.idea-title>span:first-child{color: #ff0;font-size: 20px;display: inline-block;vertical-align: top;margin-top: 3px}
.idea-title .font-coo{font-weight: 400;letter-spacing: -.025em;font-size: 16px;display: inline-block;vertical-align: middle;margin: -2px 0 0 -2px}
.idea-content>.font-dt{font-size: 16px;font-weight: 700;padding-left: 1em}
.sc-story-heading{position: absolute;top: -50px;left: -50px;width: 189px;height: 142px;background: url(../images/common/sc-story-heading.png) no-repeat 0 0/100% auto}
.sc-story-heading.scientist{background-image: url(../images/common/sc-story-heading-scientist.png)}
.job-heading{position: absolute;top: -22px;left: 0;width: 123px;height: 113px;background: url(../images/common/job-heading.png) no-repeat 0 0/auto 100%}
.helper-title{font-size: 16px;line-height: 23px;color: #666;margin-bottom: 10px}
.helper-title>span{color: #fff;display: inline-block;vertical-align: top;width: 34px;height: 23px;background: url(../images/common/helper-title.png) no-repeat 0 0/auto 100%;padding-left: 4px}
.helper-title.purple>span{background-image: url(../images/common/helper-title_purple.png)}
.btn-helper-arrange~* .helper-title>span {vertical-align: middle;width: 39px;height: 24px;padding-top: 1px;background-image: url(../images/common/helper-title-arrange.png);}

.btn-helper-srch~* .helper-title>span{vertical-align: middle;width: 39px;height: 26px;padding-top: 1px;background-image: url(../images/common/helper-title-srch.png);}
.btn-helper-connect~* .helper-title>span{vertical-align: middle;width: 39px;height: 26px;padding-top: 1px;background-image: url(../images/common/helper-title-connect.png);}
.btn-helper-exp~* .helper-title>span{vertical-align: middle;width: 39px;height: 26px;padding-top: 1px;background-image: url(../images/common/helper-title-exp.png);}
.btn-helper-srch~* .inform-srch{font-size: 17px;}
.btn-helper-srch~* .inform-srch strong{padding:3px 5px 1px;border: 3px solid #75499d;font-weight: 400;font-size: 17px;line-height: 1.4;}
.btn-helper-srch~* .inform-srch strong:after{bottom: -12px;width: 26px;height: 26px;background-image:url(../images/common/srch_icon_pp.png)}
.btn-helper-srch~* .inform-srch .text-circle{vertical-align: middle;background: #fff;border: 1px solid;color: #111;font-size: 14px;line-height: 16px;}

/* box */
.label{display: inline-block;line-height: 21px;border-radius: 10px;padding: 0 10px;background: #567483;font-size: 16px;color: #fff}
.bx-way{border: 1px solid #d7dee2;padding: 20px 20px 12px;position: relative;border-radius: 20px;font-size: 15px}
.bx-way>.label{position: absolute;left: 15px;top: -10px}
.bx-way .text-circle{width: 15px;line-height: 15px;font-size: 12px}


/* 문항 */
/* [data-qtype]{position: relative} */
.tx-a{margin-top: 10px;color: #f00;font-size: 14px}
[data-qtype] .tx-a, .tx-a.hidden, .tx-a.circle{visibility: hidden}
.answer-wrp, .input-box{display: inline-block;position: relative;vertical-align: top}
.answer-wrp .tx-a, .input-box .tx-a{display: none;position: absolute;top: 100%;left: 0;right: 0;line-height: 1em;text-align: center;margin: 3px 0;font-weight: 700}
.tx-a.tx-a-top{top: auto;bottom: 100%;margin: 0 0 2px}
.answered .tx-a{display: block;visibility: visible}
.side-btns{position: absolute;top: 0;right: 0;margin-left: auto;display: -ms-flexbox;display: flex;-ms-flex-align: start;align-items: flex-start;-ms-flex-negative: 0;flex-shrink: 0}
.side-btns>*+*{margin-left: 5px}
.side-btns [class*=icon-btn]{position: static}
.input-box .text-circle{position: absolute;left: 5px;top: 50%;margin-top: -8px;background: #9fa0a0;font-weight: 400;font-size: 12px;width: 16px;height: 16px}
.input-box .tx-a{margin: 2px 0 1px}
.input-box .form-control{padding-left: 22px;width: 130px;height: 32px}
.mark{position: relative}
.mark:after{content: '';position: absolute;top: 50%;left: 50%;border: 3px solid #0042ff;width: 32px;height: 32px;transform: translate(-50%,-50%);border-radius: 50%;display: none}
input:checked~.mark:after{display: block}
/* .answered [data-answer]:not(:checked)~.mark:after{display: block;border-color: #f00} */
.answered label, .answered .form-control, .answered textarea, .answered .drag-item{pointer-events: none}
.answersheet{margin-top: 15px;text-align: left}
.answersheet>li{position: relative;line-height: 30px;font-weight: 400;margin-bottom: 10px}
.answersheet .text-flex>b{margin-right: 10px}
.answersheet input, .test-item input[type=radio], .test-item input[type=checkbox]{position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0}
.q-label-wrp span{vertical-align: top;position: relative;-webkit-touch-callout: none;-webkit-user-select: none;-ms-user-select: none;user-select: none}
.q-label-wrp input + span:before, .q-label-circle>span{content: '';position: absolute;top: 50%;left: 50%;height: 40px;border: 2px solid #ff6a94;border-radius: 50%;width: 110%;min-width: 40px;transform: translate(-50%,-50%);display: none}
.q-label-wrp input:checked + span:before{display: block}
/* .answered .q-label-wrp [data-answer]:not(:checked) + span:before{display: block;border-color: #f60000} */
.q-label{display: inline-block;vertical-align: middle}
.answered .q-label-wrp [data-answer] + [class*=icon-answer-]:before{width: 26px;height: 26px}
.q-label-circle>span{position: static;display: inline-block;width: 40px;height: 40px;transform: none;vertical-align: middle}
.q-label-circle input:not(:checked)+span{opacity: 0}

/* 대단원 */
.semester-num, .semester-ch{position: absolute}
.semester-ch img{max-width: none}
.semester-title{position: absolute;white-space: nowrap}
.semester-title h1{font-family: 'CookieRun',sans-serif;font-size: 70px;line-height: 65px;letter-spacing: -.025em}
.semester-title .btn-unit{float: right;margin: 22px 5px 0 0}
.chapter{position: absolute;left: 0;right: 0;display: flex;bottom: 65px;align-items: center;text-align: center;flex-wrap: nowrap}
.chapter>li{display: flex;flex-direction: column;align-items: center;justify-content: center;background-repeat: no-repeat;background-size: 100% auto;flex-shrink: 0}
.chapter .title{font-family: 'CookieRun',sans-serif;font-size: 18px;line-height: 24px;color: #f08300;margin-bottom: 10px}
.chapter .title>b{width: 20px;height: 20px;line-height: 20px;border-radius: 100%;display: inline-block;vertical-align: top;margin: 3px 7px 0 0;background: #7a2843;color: #fff}
.nav-unit{font-size: 16px;line-height: 20px;font-family: 'KoPubDotum';font-weight: 700;white-space: nowrap}
.nav-unit span{font-size: 17px;color: #f08300;font-family: 'CookieRun',sans-serif}
.icon-link{width: 18px;height: 24px;background-image: url(../images/common/icon-link.png)}
.nav-unit .icon-link{margin: 0 -24px 0 5px}
.nav-unit>li+li{margin-top: 6px}
.btn-dictionary{position: absolute;bottom: 0;left: 0}


/* 단원열기 */
.open-unit-heading{position: absolute;top: -50px;left: -50px;background: url(../images/common/open-unit-heading2.png) no-repeat 0 0/auto 100%;width: 208px;height: 243px}
.open-unit{margin-top: 30px;padding: 0 40px;background: #fff;border: 2px dotted #a6bbc6;border-radius: 35px;}
.open-unit-hd{display: flex;align-items: center;margin-top: -30px;padding: 14px 0 24px}
.open-unit-hd .tit{font-size: 17px;color: #fff;letter-spacing: -.025em;border-radius: 6px;padding: 0 10px;min-width: 135px;line-height: 32px;background: #7a2843;text-align: center;margin-right: 6px;position: relative}
.open-unit-hd .tit:before{content: '';position: absolute;bottom: 100%;left: 50%;width: 24px;height: 14px;background: url(../images/common/open-unit-hd-tit.png) no-repeat 50% 0/auto 100%;margin-left: -12px}
.open-unit-order .text-flex{font-size: 16px;line-height: 26px}
.open-unit-order .text-flex+.text-flex{margin-top: 6px;}
.open-unit-order .text-flex .text-circle{margin-top: 4px;background: #45799f}
.open-unit .text-dot>.dot{background: #7a2843;}
.chap-odd .open-unit .text-dot>.dot{background: #244d69;}
.alert-wrap .lst-type-bull>li{font-size: 14px;line-height: 20px;padding-left: 10px}

/* 소단원 */
.ch-first{position: absolute;background-repeat: no-repeat;background-size: 100% auto;color: #fff;font-size: 22px;padding-left: 50px;line-height: 27px;position: absolute;top: -23px;left: -50px;width: 155px;}
.ch-first>b{display: block;width: 40px;line-height: 40px;text-align: center;font-size: 27px;margin: 5px 0 11px}
.ch-2-hd{width: 538px;margin: 0 0 5px auto;display: flex;flex-direction: column}
.ch-2-title{position: relative;font-family: 'CookieRun',sans-serif;font-size: 35px;letter-spacing: -.05em;display: flex;margin: -10px 0 5px;align-items: flex-start;line-height: 65px}
.ch-2-title .font-coo{font-size: 60px;color: #f08300;font-weight: 700;line-height: 65px;width: 45px}
.ch-2-title .d-block{line-height: 43px;margin-top: -12px}
.ch-2-hd .layer-unit{left: -130px}
.ch-2-img{position: relative;margin: -24px 0 0 25px}
.ch-2-img .font-mi{font-family: 'KNPSKkomi',sans-serif !important;font-size: 16px}
.ch-2-img .btn-start{position: absolute;bottom: -1px;right: 100%;margin-right: 25px}
.layer-body-unit{display: flex;align-items: center;padding-left: 0}
.unit-character{flex-shrink: 0;width: 130px;padding-left: 30px;position: relative}
.unit-character .icon-audio{position: absolute;bottom: 0;left: 88px}

/* 탐구 */
.explore{position: relative;padding-left: 130px}
.explore.wide{padding-left: 0}
.explore-hd{position: relative;width: 622px;height: 58px;margin-left: -84px;padding-left: 84px;background: url(../images/common/explore-hd.png) no-repeat 0 0/100% auto;margin-bottom: 10px}
.explore.wide .explore-hd{width: 100%;margin-left: 0;background-image: url(../images/common/explore-hd-wide.png)}
.explore-hd .tit{font-size: 20px;font-weight: 700;line-height: 40px;padding-top: 14px}
.explore-hd .page, .explore-page{position: absolute;line-height: 20px;font-weight: 700;font-size: 12px;color: #1968b3;border: 1px solid #1968b3;border-radius: 12px;padding: 0 4px;top: -9px;left: 86px;background: #fff;font-weight: 400;letter-spacing: 0}
.explore-hd .page:before, .explore-page:before{content: '';position: absolute;width: 30px;height: 21px;background: url(../images/common/explore-page.png) no-repeat 0 0/auto 100%;right: 100%;top: 6px;margin-right: -3px}
.explore-hd .font-coo{position: absolute;font-size: 11px;color: #888;top: -5px;left: 72px}
.icon-explore{position: absolute;width: 72px;height: 51px;background-image: url(../images/common/icon-explore.png);top: 0;right: 100%;top: -2px;margin-right: 3px}
.explore-ability{position: absolute;bottom: 44px;right: 20px;display: flex;align-items: center}
.explore.wide .explore-hd .explore-ability:not(.label-3){right: 37px;}
.explore-ability [class*=ability-label]{margin-left: 4px}
[class*=ability-label]{display: block;font-size: 11px;line-height: 11px;color: #2f5763;text-align: center;background-repeat: no-repeat;background-size: 100% auto;font-weight: 700}
.ability-label-think{width: 29px;height: 30px;background-image: url(../images/common/icon-ability-think.png);line-height: 27px}
.ability-label-study{width: 30px;height: 27px;background-image: url(../images/common/icon-ability-study.png);line-height: 27px}
.ability-label-commu{width: 30px;height: 29px;background-image: url(../images/common/icon-ability-commu.png);padding: 4px 2px 0 0}
.ability-label-solv{width: 30px;height: 31px;background-image: url(../images/common/icon-ability-solv.png);padding-top: 5px}
.ability-label-life{width: 35px;height: 31px;background-image: url(../images/common/icon-ability-life.png);padding: 5px 0 0 5px}
.supplies-wrap{display: flex;align-items: flex-start;margin-bottom: 20px;flex-wrap: wrap;position: relative;font-family: 'KoPubDotum';}
.supplies-wrap>.tit{font-size: 14px;padding-right: 19px;background: url(../images/common/supplies-tit.png) no-repeat 100% 50%/auto 6px}
.supplies-wrap .btns{flex-shrink: 0;width: 74px}
.supplies-wrap .btn-pack{margin-top: 5px}
.supplies-wrap .layer{top: 0;margin: 0}
.supplies-wrap .txt{font-size: 14px;line-height: 20px;padding: 2px 0 0 8px;letter-spacing: -.025em;flex: 1}
.supplies-group{display: flex}
.supplies-group>li{-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;max-width: 100%;font-size: 14px;margin-left: 15px}
.supplies-group>li+li{margin-left: 20px}
.supplies-wrap .custom-input-check .custom-label{padding-left: 30px;font-size: 14px;line-height: 25px;text-align: left}
.supplies-wrap .custom-input-check .custom-label>.d-block{display: block;line-height: 1.3}
.supplies-wrap li>img{display: block;margin: 0 auto 7px}
.supplies-swiper{position: relative;min-width: 0;padding: 0 45px}
.supplies-swiper .swiper-slide{width: auto;height: auto}
.supplies-swiper .swiper-slide:not(.swiper-slide-active){opacity: 0}
.supplies-swiper [class*=swiper-button]{width: 25px;height: 35px;margin-top: -36px}
.supplies-swiper .swiper-button-prev{left: 5px}
.supplies-swiper .swiper-pagination{padding: 10px 0 0}
.supplies-swiper .swiper-pagination-bullet{width: 10px;height: 10px}
.supplies-swiper .row:not([class*=justify-content])>.col-auto{margin-right: 20px}
.utility{position: absolute;left: 0;top: 68px}
.col>.utility{position: static;}
.utility>.layer-wrp{margin-bottom: 10px}
.btn-safe, .btn-help{width: 74px;height: 25px;border-radius: 25px}
.btn-safe{font-size: 14px;line-height: 25px;color: #b51f1f;font-weight: 700;background: #ffe3e1;padding-right: 8px}
.btn-safe .icon-alert{float: left;margin: 3px 0 0 8px}
.btn-help{background-image: url(../images/common/btn-help.png)}
.supplies-list{margin: 25px -10px -15px}
.supplies-list>[class*=col]{padding-left: 10px;padding-right: 10px;min-height: 50px;padding-bottom: 15px}
.inform-srch{font-size: 14px;}
.utility>.inform-srch{max-width:106px}
.inform-srch strong{display: block;position: relative;padding: 2px 1px 0;border: 2px solid #ff6a94;font-size: 14px;line-height: 1.4;}
.inform-srch strong:after{content: '';position: absolute;right: 2px;bottom: -8px;width: 19px;height: 19px;background: url(../images/common/srch_icon.png) no-repeat center / 100% auto;}
.inform-srch p{margin-top: 7px;line-height: 1.35;}
.explore-step>li+li{margin-top: 30px}
[class*=step-label-]{display: block;width: 90px;height: 25px;background: url(../images/common/step-label-1.png) no-repeat 0 100%/100% auto;padding-top: 4px;line-height: 20px;color: #fff;font-size: 16px;letter-spacing: -.025em;padding-left: 26px;margin-bottom: 10px}
.step-label-2{background-image: url(../images/common/step-label-2.png)}
.step-label-3{background-image: url(../images/common/step-label-3.png)}
.step-label-4{background-image: url(../images/common/step-label-4.png)}
.idea-ability{position: absolute;top: -50px;right: 0;padding-top: 50px}
.idea-ability:before{content: '';position: absolute;top: 0;bottom: 15px;left: 50%;border-left: 3px dotted #b1c0c9;margin-left: -2px}
.idea-ability [class*=ability-label]{margin: 0 auto 5px;font-size: 13px;line-height: 13px;position: relative;}
.idea-ability .ability-label-study{width: 35px;height: 32px;line-height: 30px}
.idea-ability .ability-label-think{padding-top: 7px;}
.idea-ability .ability-label-commu{width: 34px;height: 33px;padding-top: 4px}
.idea-ability .ability-label-solv{width: 36px;height: 36px;padding-top: 7px}
.idea-ability .ability-label-life{width: 45px;height: 39px;padding: 5px 0 0 7px}
.label-exp{ display: inline-block;margin-bottom:1px;vertical-align: middle;background-color: #c7e7f2; color: #225d9c;font-size:16px;font-family: 'Katuri',serif !important;line-height: 1.5;border-radius: 10px;letter-spacing: -.05em;font-size: 14px;padding: 0 6px;font-weight: 700;text-align: center}
.label-exp+.text-circle{vertical-align: middle;margin: 0 6px 1px -3px;background-color: #225d9c;}
[class*=lst-num] .label-exp{font-size: 13px;}
[class*=lst-num] .label-exp+.text-circle{width: 16px;margin-right: 0;font-size: 13px;line-height: 16px;}

/* 활동 */
.activity{position:relative;padding-left: 130px;}
.activity .text-num .num{color:#b9405f;}
.activity-hd{position: relative;margin-left: auto;height: 63px;background: url(../images/common/activity-hd2.png) no-repeat 0 0/100% auto;font-family: 'KoPubDotum';margin-bottom: 10px}
.activity-hd.purple{width: 619px;background-image: url(../images/common/activity-hd-purple.png) !important}
.activity-hd .font-ka{font-size: 29px;letter-spacing: -.025em;position: absolute;top: 15px;left: 15px;color: #de6500}
.activity-hd.purple .font-ka{color: #5e3a7a !important}
.activity-hd .font-ka>span{display: inline-block;vertical-align: top;margin-top: -5px}
.activity-hd .tit{font-size: 20px;font-weight: 700;padding: 13px 0 0 80px}
.activity-hd:not(.red) .explore-ability{bottom: 4px}
.activity-hd.red{width: 611px;margin-left: -73px;background: url(../images/common/activity-hd-red.png) no-repeat 0 0/100% auto;}
.activity-hd.red .tit{padding-left: 73px;line-height: 40px;}
.activity-hd.red .font-ka{top: 23px;left: 6px;color: #fff;}
.activity-hd.red .page{position: absolute;line-height: 20px;font-weight: 700;font-size: 12px;color: #1968b3;border: 1px solid #1968b3;border-radius: 12px;padding: 0 4px;top: -9px;left: 76px;background: #fff;font-weight: 400;letter-spacing: 0}
.activity-hd.red .page:before{content: '';position: absolute;width: 30px;height: 21px;background: url(../images/common/explore-page.png) no-repeat 0 0/auto 100%;right: 100%;top: 6px;margin-right: -3px}
.activity-hd.red .explore-ability {bottom: 48px;}

/* 스스로 확인해요 */
.bottom-buttons{position: absolute;bottom: -50px;right: 0;display: flex;align-items: flex-end}
.page-odd .bottom-buttons{left: 0}
.bottom-buttons>*{margin-right: 10px}
#wrap:not(.page-odd) .bottom-buttons{left: auto;right: -12px}

/* 창의융합 */
.idea-heading{width: 173px;height: 142px;background-repeat: no-repeat;background-size: 100% auto;position: absolute;top: -50px;left: -50px}

/* 단원마무리하기 */
.final-hd{padding: 20px 0 23px}
.final-btns{position: absolute;font-size: 0;right: 0;bottom: 100%;margin-bottom: 5px}
.final-btns>button{margin-left: 10px}
.likethis{position: relative;display: flex;margin-left: auto;width: 511px;height: 55px;border: 3px dotted #a6bbc6;border-radius: 20px;align-items: center;font-size: 16px;letter-spacing: -.025em;font-weight: 700;padding-left: 35px;}
.likethis>.text-hide{position: absolute;width: 135px;height: 25px;background: #fff url(../images/common/likethis.jpg) no-repeat 50% 0/auto 100%;left: 20px;top: -15px}
.final-arrange{position: static}
.final-arrange.answered [class*=arrange-box-]{z-index: 5}
[class*=arrange-box-]{position: relative;background: #f1f5f8;padding: 15px 25px;font-size: 16px;line-height: 26px;margin-bottom: 15px}
[class*=arrange-box-]>.tit{display: block;line-height: 22px;padding-top: 3px;background-repeat: no-repeat;background-size: auto 25px;text-align: center;font-size: 17px;margin-bottom: 7px}
[class*=arrange-box-]>.tx-a{position: absolute;top: 100%;left: 0;margin-top: 0;line-height: 1}
[class*=arrange-box-] .text-circle{width: 16px;height: 16px;margin-top: 5px;background: #9fa0a0;font-size: 12px;font-weight: 400;}
[class*=arrange-box-] .input-box .text-circle{margin-top: -8px;}
[class*=arrange-box-] .q-label-wrp{display: inline;}
.lst-arrange>li, .lst-arrange .lst-type-bull>li{font-size: 16px;line-height: 26px;padding-left: 18px}
.lst-arrange li+li{margin-top: 15px}
.lst-arrange>li:before{width: 8px;height: 8px;background: #888;top: 9px;margin-top: 0}
.lst-arrange .input-box{margin-top: -3px}
.lst-type-bull .lh32{line-height: 32px !important}
.lst-type-bull .lh32:before{top: 12px}
.lst-type-bull .lh32 .input-box{margin-top: 1px}
.lst-arrange .lst-type-bull{margin-left: -18px}
.lst-arrange .lst-type-bull>li:before{width: 4px;height: 4px;background: #000;top: 11px;left: 4px;margin-top: 0}
.final-arrange .input-box .form-control{width: 120px}
.notion .input-box{margin-top: -3px}

/* 스스로 평가하기 */
.self-button-inline{position: absolute;right: 0;bottom: 0;left: 0;border-radius: 30px;background: #fee6a8;display: flex;align-items: center;padding: 15px 20px;min-height: 82px}
.self-button-inline .text-circle{background: #7a2843;margin-top: 4px}
.self-button-inline .self-button{padding: 0 5px 0 30px;margin-top: -18px}
.self-button .txt{position: absolute;top: 100%;left: -3px;right: -3px;margin-top: 4px;font-size: 13px;text-align: center;line-height: 15px;color: #77787b;white-space: nowrap;font-family: 'KoPubDotum';}
.self-button-inline .text-flex{flex: 1;font-size: 16px;line-height: 26px}

/* 평가하기 */
.rating-hd{background: #e9f2f6;display: flex;border: 2px solid #c9d6dd;border-bottom: 0}
.rating-body{border: 2px solid #c9d6dd;border-top: 0}
.rating-hd>.col, .rating-row>.col{border-right: 2px solid #c9d6dd;display: flex;align-items: center;justify-content: center;}
.rating-th, .rating-hd .rating-row{border-bottom: 2px solid #c9d6dd}
.rating-th{text-align: center;font-size: 16px;padding: 10px 0}
.rating-hd input{width: 100%;height: 100%;padding: 0 4px}
.rating-row>.col{padding: 8px}
.rating-body .rating-row+.rating-row{border-top: 1px solid #c9d6dd}
.rating-row{display: flex}
.rating-row .col{font-size: 16px;text-align: center}
.rating-row .col-auto{width: 50px;border-left: 1px solid #c9d6dd;text-align: center;font-size: 16px;line-height: 1.25;background: #fff}
.rating-row .col+.col-auto, .rating-row .col-auto:first-child{border-left: 0}
.rating-row .col-auto{display: flex;align-items: center;justify-content: center;padding:  5px 0}
.rating-check{position: relative;width: 35px;height: 35px;border-radius: 100%;margin: 0 auto}
.rating-check:before{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;border-radius: 100%;border: 1px solid #e5ecf0;pointer-events: none}
.rating-check.active:before{border-color: #ff7c00}
.rating-check>button{width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 2}
.rating-check input+i{display: none;position: relative;z-index: 1}
.rating-check input:checked+i{display: block}
.rating-bubble{width: 149px;height: 67px;background: url(../images/common/rating-bubble.png) no-repeat 0 0/auto 100%;display: none;position: absolute;bottom: 100%;left: 50%;margin-left: -75px;padding: 0 2px 13px 0;z-index: 10}
.active>.rating-bubble{display: flex;align-items: center;justify-content: center}
[class*=icon-rating]{width: 35px;height: 35px;border-radius: 100%}
.icon-rating-01{background-image: url(../images/common/icon-rating-01.png)}
.icon-rating-02{background-image: url(../images/common/icon-rating-02.png)}
.icon-rating-03{background-image: url(../images/common/icon-rating-03.png)}
.rating-bubble [class*=icon-rating]{margin: 0 3px;box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .15)}
.rating-bubble [class*=icon-rating]:hover{box-shadow: none}
.icon-rating-01:hover, .rating-check>.icon-rating-01, .rating-caption>.icon-rating-01{background-image: url(../images/common/icon-rating-01-active.png)}
.icon-rating-02:hover, .rating-check>.icon-rating-02, .rating-caption>.icon-rating-02{background-image: url(../images/common/icon-rating-02-active.png)}
.icon-rating-03:hover, .rating-check>.icon-rating-03, .rating-caption>.icon-rating-03{background-image: url(../images/common/icon-rating-03-active.png)}
.rating-caption{text-align: right;font-size: 16px;line-height: 19px;margin-top: 10px}
.rating-caption [class*=icon-rating]{width: 19px;height: 19px;margin-top: -3px}

/* 줄긋기 */
.q-line{-webkit-user-select: none;user-select: none;-webkit-touch-callout: none;}
.q-line:not(.make-end){pointer-events: none}
.q-line:not(.make-end) .drawBtn{visibility: hidden}
.q-line,.q-line-btn{position:relative;font-weight: 400}
.q-line-btn{font-size: 15px;line-height: 24px}
.q-line-btn .box{height: 100%;padding: 10px;border: 1px solid #6e7374;border-radius: 6px}
.q-line-btn button{display:block;transition: none; position: absolute;top: 100%;left: 50%;width: 30px;height: 30px;margin: 0 -15px;border-radius: 50%;text-indent: -999em;color: rgba(0,0,0,0)}
.q-line-btn button:before{content: '';position: absolute;top: 50%;left: 50%;width: 14px;height: 14px;border-radius: 100%;margin: -7px;background: url(../images/common/q-line-btn.png) no-repeat 0 0/auto 100%}
.line-start button:before{background-image: url(../images/common/q-line-btn_on.png)}
.q-line-btn.top button{top: auto;bottom: 100%}
.q-line-btn.rt button,.q-line-btn.lt button{top: 50%;left: 100%;margin: -15px 0}
.q-line-btn.lt button{left: auto;right: 100%}
.canvas{display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: 5;pointer-events: none}
.no-touch{-ms-user-select: none;-webkit-touch-callout: none;-webkit-user-select: none;user-select: none}
.icon-btn-refresh.refresh-line{ top: 35px;right: 0}
.q-line .text-circle{background: #7e6753}
.q-line ul.row{justify-content: space-between;align-items: stretch}
.answered .q-line-btn{pointer-events: none}
.q-line.row{justify-content: space-between}
.q-line.row .q-line-btn+.q-line-btn{margin-top: 20px}
.q-line-btn.d-flex{align-items: center}
.q-line-box{display: flex;align-items: center;border-radius: 8px;border: 2px solid #95a9b3;width: 220px;padding: 15px;font-weight: 400}
.line-info, .scratch-info{height: 33px;background: url(../images/common/line-info.png) no-repeat 0 0/auto 100%;font-size: 19px;color: #fff;padding-left: 68px;line-height: 32px;margin-bottom: 15px;position: relative}
.scratch-info{background-image: url(../images/common/scratch-info.png);width: 253px}
.line-info .refresh-line{position: absolute;top: 1px;right: 0}
.q-line+.icon-re{position: absolute;visibility: hidden;pointer-events: none}
.answered .q-line{pointer-events: none}

/* 생각해볼까요 */
.self-thinking-title{display:block;position: relative; vertical-align: top;font-family: 'CookieRun',sans-serif;font-size: 17px;font-weight: 700;color: #b3415e;height: 48px;padding:25px 0 0 27px;background: url(../images/common/self-thinking-title.png) no-repeat 0 0/auto 35px; z-index: 1;position: relative}
.self-thinking-title .page{position: absolute;left:80px;bottom: 0; line-height: 23px;font-weight: 700;font-size: 12px;color: #115fad; padding: 1px 5px 0 24px;background: url(../images/common/think-page.png) no-repeat 0 50%/auto 12.5px;font-family: 'KoPubDotum',sans-serif !important}
.self-thinking-title .page::before{content: "";position: absolute;top: 0;left: 8px;width: 100%;height: 100%; border: 2px solid #115fad; border-radius: 8px;border-top-left-radius: 20px;border-bottom-left-radius: 20px;z-index: -1;}

/* 홀수 단원 */
.chap-odd .open-unit-hd .tit{background: #244d69;}
.chap-odd .open-unit-hd .tit:before{background-image: url(../images/common/open-unit-hd-tit2.png)}
.chap-odd .job-heading{background-image: url(../images/common/job-heading2.png)}
.chap-odd .idea-title, .chap-odd ~ .modal .idea-title{background-image: url(../images/common/idea-title2.png)}
.chap-odd .sc-story-heading{background-image: url(../images/common/sc-story-heading2.png)}
.chap-odd .sc-story-heading.scientist{background-image: url(../images/common/sc-story-heading-scientist2.png)}
.chap-odd .ch-2-title .font-coo{color:#60bb46;}
.chap-odd .chapter .title{color: #62bb46;}
.chap-odd .chapter .title>b{background: #1f4d68;}
.chap-odd .nav-unit span{color:#62bb46}
.chap-odd .page-title>span>span{color:#60bb46}
.chap-odd .open-unit-heading{background-image: url(../images/common/open-unit-heading.png)}
.chap-odd.page-odd #num .text-circle{background: #244d69 !important; }
.chap-odd .self-button-inline{background: #deeaae}
.chap-odd .self-button-inline .text-circle{background: #234d69}
.chap-odd .activity-hd{background-image: url(../images/common/activity-hd.png);}
.chap-odd .activity-hd .font-ka, .chap-odd~* .activity-hd .font-ka{color: #4e9d3a}
.chap-odd .play-heading{background-image: url(../images/common/play-heading.png) !important}
.chap-odd .play-heading-title>.text-hide{background-image: url(../images/common/play-heading-title.png) !important}
.chap-odd .notion-title>.text-hide{background-image: url(../images/common/notion-title.png) !important}
.chap-odd .notion>.title{background:#a1dadf;}
.chap-odd .notion>.title .text-circle{background:#234d69}

/* 
.chap-odd .open-unit .text-dot>.dot{background: #234d68;}
.chap-odd .idea-title, .chap-odd~* .idea-title{background-image: url(../images/common/idea-title2.png)}
.chap-odd .idea-heading{background-image: url(../images/common/idea-heading2.png)}
.chap-odd .final-heading{background-image: url(../images/common/final-heading2.png)}
 */

/* drag */
.dragdrop-info{font-size: 19px;color: #fff;font-weight: 400;width: 328px;height: 33px;background: url(../images/common/dragdrop-info.png) no-repeat 0 0/auto 100%;line-height: 32px;padding-left: 70px;margin-bottom: 30px}
.ui-draggable button{pointer-events: none}
.drag-item, .drag-fix{cursor: pointer;font-family: 'KoPubDotum',sans-serif}
.ui-draggable-disabled, .dragging{cursor: default}
.ui-draggable-dragging{z-index: 200 !important}
.ttakji-box{height: 120px;background: #f9e6e9;position: relative;border: 2px solid #fabed3;border-radius: 15px;display: flex;justify-content: center;align-items: center}
.ttakji-box>.text-hide{position: absolute;width: 69px;height: 38px;background: url(../images/common/ttakji-box.png) no-repeat 0 0/auto 100%;left: 7px;top: -19px}
.ttakji-box .drag-ttakji{margin: 0 7px;position: relative}
.drag-ttakji{min-width: 90px;height: 90px;background: #f1f5f8;border-radius: 10px;border: 2px solid #fff;display: flex;align-items: center;justify-content: center;box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, 0.3);}
.ui-draggable img{max-width: none}
.drag-ttakji.dragging, .drag-ttakji.ui-draggable-disabled{background: #f4dbdf;border: 2px dashed #f2c2d3;box-shadow: none}
.drag-ttakji.dragging *, .drag-ttakji.ui-draggable-disabled *{visibility: hidden}
.drag-type-circle{display: inline-block;vertical-align: top;width: 25px;height: 25px;border: 2px solid #00aaa4;border-radius: 100%;color: #fff;line-height: 21px;text-align: center;font-weight: 400;background: #00b5af;
box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1);text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);font-size: 18px;font-weight: 700;box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.1),inset 0px 2px 0px 0px rgba(182, 198, 205, 0.15);}
.ttakji-box .drop-refresh{position: absolute;right: 0;bottom: 100%;margin-bottom: 10px;display: none}
.ttakji-box .ui-draggable-disabled ~ .drop-refresh{display: block}

.drag-type-circle.ui-draggable-disabled, .drag-type-circle.dragging,
.drag-type-box.ui-draggable-disabled, .drag-type-box.dragging,
.ui-draggable-disabled>.drag-type-box, .dragging>.drag-type-box{border-color: #b6c4ca;box-shadow: inset 0px 2px 0px 0px rgba(182, 198, 205, 0.15);color: #95a9b3;background: #ced9de  !important}
.drag-type-box{position: relative;z-index: 10;display: -ms-inline-flexbox !important;display: inline-flex !important;-ms-flex-align: center;align-items: center;vertical-align: top;width: 85px;background: #e8e8e8;border: 1px solid #009b95;cursor: pointer;box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1),inset 0px -5px 0px 0px rgba(0, 181, 175, 0.3);border-radius: 7px;-ms-flex-pack: center;justify-content: center;color: #fff;letter-spacing: -.025em;background: #00b5af;overflow: hidden}
.drag-type-box:before{content: '';height: 42px;margin-left: -1px}
.drag-type-box:after{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: linear-gradient(-35deg, rgba(0,192,187,1) 18%,rgba(0,181,175,0) 12%)}
.drag-type-box.ui-draggable-disabled, .drag-type-box.dragging, .ui-draggable-disabled>.drag-type-box, .dragging>.drag-type-box{line-height: 31px;}
.drag-type-box.ui-draggable-disabled:after, .drag-type-box.dragging:after,
.ui-draggable-disabled>.drag-type-box:after, .dragging>.drag-type-box:after{background: linear-gradient(-35deg, rgba(197,210,215,1) 18%,rgba(0,181,175,0) 12%)}
.bx.drag-area{border: 2px solid #f8c5a6;background: #f9f1e6;justify-content: center;padding: 25px;display: flex;align-items: flex-start;flex-wrap: wrap}
.bx.drag-area.bg-none{border-color: #cdd8dd;background: none}

/* drop */
.drop-ttakji{position: relative;border: 2px solid #a6bbc6;background: #fff;border-radius: 10px;margin: 0 auto}
.drop-ttakji:before{content: '붙임딱지 \A 붙이는 곳';position: absolute;top: 3px;left: 3px;right: 3px;bottom: 3px;border: 1px dashed #a6bbc6;display: flex;align-items: center;border-radius: 8px;justify-content: center;white-space: pre-wrap;font-weight: 400;text-indent: 5px;font-size: 12px;color: #a6bbc6;font-family: 'CookieRun',sans-serif;text-align:center;line-height: 1.25}
.drop-answer{display: inline-block;vertical-align: top;position: relative}
.tx-drop{position: absolute;bottom: 100%;width: 115%;height: 115%;background: #fff;border-radius: 10px;left: 50%;margin: 11px 0 11px -60%;padding: 10px;border: 2px solid #ff6a94}
.tx-drop-btm{bottom: auto;top: 100%}
.tx-drop:before{content: '';position: absolute;width: 16px;height: 9px;background: url(../images/common/bubble-tail.png) no-repeat 0 0/auto 100%;top: 100%;left: 50%;margin-left: -8px}
.tx-drop-btm:before{top: auto;bottom: 100%;transform: scaleY(-1);}
.tx-drop>.inner{width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;background: #f1f5f8;border-radius: 8px}
.tx-drop img{max-width: 80%;max-height: 80%;object-fit: cover}
.drop-ttakji .drag-ttakji:not(.ui-draggable-dragging){box-shadow: none;width: 100%;height: 100%;min-width: 0}
.drop-type-box{position: relative;background: #fff;border-radius: 8px;height: 44px;display: flex;align-items: center;justify-content: center;text-indent:0 !important}
.drop-type-box:before{content: '';position: absolute;top: 0;left: 0;right: 0;bottom: 0;border-radius: 8px;border: 1px solid #a8b6bd}
[class*=drop-type-].ui-droppable-hover{background: #eee !important}
.drop-type-circle{position: relative;background: #fff;border-radius: 100%;width: 40px;height: 40px;display: flex;align-items: center;justify-content: center}
.drop-type-box .drag-type-circle{margin: 0 2px}
.bx.drop-area{background: #f9f1e6;display: flex;align-items: center;justify-content: center;border-color: #f8c5a6;margin-top: 30px}

/* interaction */
.order-inter-btn>.icon-hand, .btn-order-reset{position: absolute}
.speech-toggle>.speech{display: none}
.speech-toggle button{position: absolute}
.scratch{overflow: hidden;position: relative;}
.scratch>*{-webkit-touch-callout: none;-webkit-user-select: none;-ms-user-select: none;user-select: none}
.scratch:not(.done)>*:not(canvas){visibility: hidden}
.scratch:not(.done):after{content: '';position: absolute;width: 30px;height: 32px;background: url(../images/common/scratch.png) no-repeat 0 0/auto 100%;top: 50%;left: 50%;transform: translate(-50%,-50%);pointer-events: none}
.scratch>canvas{position: absolute;top: 0;left: 0}
.scratch>img[src="transparent"]{display: none !important}

/* 개념 정리 */
.note-wrp{max-width: 610px;margin:32px auto 12px}
.note-wrp .cont + .cont{margin-top:30px;}
.note-wrp .bx{padding: 27px 30px;}
.note-img{position:relative;text-align: center;margin-top:20px;}

/* 재미있게 닫기 */
.play-heading{position: absolute;top: -50px;left: -50px;width: 200px;height: 256px;background: url(../images/common/play-heading2.png) no-repeat 0 0/auto 100%}
.play-heading-title, .notion-title{display: flex;align-items: center;font-size: 16px;font-weight: 700;margin-bottom: 20px}
.play-heading-title>.text-hide{width: 61px;height: 43px;background: url(../images/common/play-heading-title2.png) no-repeat 0 0/100% auto;margin-right: 10px}

/* 개념을 정리해요 */
.notion-title{margin-bottom: 5px}
.notion-title+.line-info{margin: 0 0 10px 71px; background-image: url(../images/common/scratch-info.png);}
.notion-title>.text-hide{width: 61px;height: 44px;background: url(../images/common/notion-title2.png) no-repeat 0 0/100% auto;margin-right: 10px}
.notion{font-size: 16px;line-height: 26px;display: flex;align-items: flex-start}
.notion>.title{flex-shrink: 0;display: flex;align-items: center;justify-content: center;width: 120px;height: 120px;border-radius: 100%;background:#f9d0d3;text-align: center;font-weight: 400;font-size: 17px;line-height: 22px;letter-spacing: -.025em;align-self: center}
.notion>.title .text-circle{display: block;margin: -5px auto 5px;background:#7a2843;font-weight: 700}
.notion>img{align-self: center;margin-right: 10px}
.answer-scratch{position: relative;width: 120px;height: 31px;display: inline-block;vertical-align: middle;border-radius: 4px;margin-top: -3px}
.answer-scratch .text-circle{position: absolute;width: 15px;line-height: 15px;background: #9fa0a0;font-size: 12px;left: 5px;top: 50%;margin-top: -8px;visibility: visible !important;z-index: 10;pointer-events: none}
.answer-scratch .answer{width: 100%;height: 100%;border: 1px solid #a8b6bd;border-radius: 4px;text-align: center;display: flex;align-items: center;justify-content: center;color: #f00;padding-left: 8px}
.notion-item+.notion-item{margin-top: 10px}
.notion+.notion{margin-top: 70px}
.notion-title .box{display: inline-block;width: 80px;height: 19px;background: #a1acb8;vertical-align: middle;border-radius: 2px}
/* .answer-scratch:not(.done):after{background: none;content: '긁어보세요.';width: auto;height: auto;font-size: 14px;color: #fff;white-space: nowrap;left: 22px;transform: none;top: 0;bottom: 0;display: flex;align-items: center} */
.answer-scratch:not(.done):after{display:none}

#modalEnlarge .modal-body .modal-title{font-size:20px; color:#ff6a94; margin-bottom:10px; font-weight: 700;}
