@charset "utf-8";

@import url(bootstrap.min.css);
@import url(util.css);
@import url(animate.min.css);

/* Font */
@font-face {font-family: 'yg-jalnan';src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');font-weight: normal;font-style: normal;font-display: fallback}

/* reset with bootstrap */
body{position:relative;-webkit-text-size-adjust:none;font-family: 'yg-jalnan', sans-serif}
body,input,textarea,select,button,table{font-weight:700;font-size: 28px;line-height:1.5;font-family:'yg-jalnan',sans-serif;color:#364768;font-display:fallback}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-weight:700;line-height:1.5;letter-spacing: -0.02em}
a,input,textarea,select,button{text-decoration:none;color:#fff;outline:0 !important;-webkit-transition:color .4s,border-color .4s,background .4s,box-shadow .4s,opacity .4s;transition:color .4s,border-color .4s,background .4s,box-shadow .4s,opacity .4s}
a:hover,a:focus,a:active{color:inherit;text-decoration: none}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
input{background: none;border: 0;box-shadow: none}
input::-ms-clear,input::-ms-reveal{display:none;width:0;height:0}
input::-webkit-search-decoration,input::-webkit-search-cancel-button,input::-webkit-search-results-button,input::-webkit-search-results-decoration{display:none}
li{list-style:none}
label{cursor:pointer}
table{width:100%;border-collapse:collapse}
a,button{cursor:pointer}
button{border:0;box-shadow:none;background:none}
i{font-style:normal}
img{max-width:100%}
button:hover, button:active, button:focus{color:#fff !important}

/* Icon */
[class^=icon-]{display:inline-block;overflow:hidden;margin:0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;background-size: 100% auto;font-size:0;line-height:0;text-decoration:none;vertical-align:middle;text-indent:-1000em}
.icon-close{position: absolute;top: 20px;right: 28px;z-index: 100;width: 36px;height: 36px;background-image: url(../img/icon-close.svg);background-size: 18px 17px;background-color: #1C69FF;border-radius: 50%}
.icon-home{position: absolute;top: 28px;left: 28px;z-index: 100;width: 50px;height: 50px;background-image: url(../img/icon-home.svg);background-color: #2871FF;background-size: 24px auto;border-radius: 50%;box-shadow: 2px 2px #003CB2;opacity: 0;visibility: hidden}

/* Btn */
.btn{font-size: 28px;min-width: 220px;height: 78px;padding: 0 32px;background: #FFC700;border-radius: 0.7em;border: 4px solid #FCE300;box-shadow: 0px 8px #E48C25 !important;color:#fff}
.btn-icon{position: relative}
.btn-icon:before{content: '';display: inline-block;vertical-align: top;width:32px;height:32px;margin: 5px 15px 0 0;background-position: center;background-repeat: no-repeat;background-size: 100% auto}
.btn-start{position: absolute;left: 50%;bottom: 60px !important;left: 50%;width: 260px;background: #1C69FF;border-color: #4F8BFF;box-shadow: 0px 8px #00349A !important;transform: translateX(-50%)}
.btn-start:before{width:24px;background-image: url(../img/icon-play.svg)}
.btn-finish{background: #FF8484;border-color: #FFC9C9;box-shadow: 0px 8px #F96767 !important}
.btn-finish:before{background-image: url(../img/icon-finish.svg)}
.btn-reset{background: #B94DFC;border-color: #CC7AFF;box-shadow: 0px 8px #8E2EDA !important}
.btn-reset:before, .btn-replay:before{background-image: url(../img/icon-reset.svg)}
.btn.btn-circle{bottom: 60px;right: 95px;min-width: auto;width:88px;height:88px;padding:0;background-color: #A026FF;border-radius: 50%;border-color: #C07AF6;box-shadow: 0px 8px #7D0CD6 !important;font-size: 44px}

/* Color */
.text-red{color: #FA5266 !important}
.text-yellow{color:#FFB950 !important}
.text-green{color: #F8FD02 !important}

/* Modal */
.modal{width: 1280px;height: 720px;transition:opacity .4s}
.modal-half, .modal-alert{opacity: 0;background: rgba(0,0,0,.5)}
.modal-dialog{max-width:756px}
.modal-content{height:100%;border: 0;border-radius: 20px;box-shadow: 6px 6px #ACD7F5}
.modal-body{padding:72px 48px;text-align: center}
.modal-title{margin-bottom: 24px;font-size:42px;color:#1C69FF;text-align: center}
.modal-title h3, .modal-title h4{font-size: inherit}
.modal-title p{font-size: 28px;color: #364768}
.modal-backdrop{display: none}
.modal.show{opacity: 1}
.modal.modal-static .modal-dialog{transform: none;-webkit-transform: none}
.modal-alert .modal-dialog{max-width: 615px}
.modal-alert .modal-content{box-shadow: 12px 12px #C1E1F8}
.modal-alert .modal-body{padding: 44px} 
.modal-alert .modal-title{margin-bottom:32px}
.modal-alert .btn{width:100%;max-width:478px;height: 84px}
.modal-alert .btn+.btn{margin-top:16px}
#wrap .icon-close{width: 30px;height: 30px;background-size: 16px 15px}
#wrap .btn-reset{position: absolute;right:52px;bottom: 52px}

/* Style */
#wrap {position: relative;width: 1280px;height: 720px;transform-origin: 0 0}
#wrap .btn-reset{animation: none;pointer-events: none}
#wrap .finish .btn-reset{animation: fadeIn .5s forwards;pointer-events: auto}
#wrap .overlay .icon-close{position: absolute;top: -10px;right: -10px;width: 48px;height: 48px;background-size: 20px 19px;background-color: #E55441;box-shadow: 0 4px #9A3123, 0 10px 4px rgba(37, 49, 71, .2)}
.guide-list{text-align: left}
.guide-item {display: flex;align-items: flex-start}
.guide-item .num{display: inline-block;flex:0 0 auto;vertical-align: top;width: 44px;margin: 5px 12px 0 0;background: #FFBE12;border-radius: 0.7em;font-size: 24px;color: #fff;line-height: 32px;text-align: center}
.guide-item + .guide-item{margin-top: 12px}
#home{z-index:40}
#home .home-title {top: 100px;transform: translate(-50%, -100%);opacity:0;z-index:1}
#home.show .home-title {transform: translate(-50%, 0);transition:.8s;opacity:1}
#home.show>.btn {animation: fadeIn .5s 1s forwards}
.home-balloon{transform: translateX(-50%);position: absolute;left: 50%;bottom: calc( 100% + 22px );padding: 8px 20px;background: #AB53F0;border: 4px solid #C883FF;font-size: 24px;text-align: center;white-space: nowrap;border-radius: 50px;color: #fff}
.home-balloon:after{content: '';position: absolute;top: calc( 100% - 9px );left: 50%;width: 27px;height: 26px;background: url(../../common/img/home-tail.png)no-repeat center / 100%;transform: translateX(-50%)}
#home.show .btn-circle{animation: fadeInDown 1s 1s forwards}
#home.show .home-balloon{animation: moveAni 1.5s 1.5s infinite both}
@keyframes moveAni{
    50%{
        transform: translate(-50%, 5px);
    }
}
#intro{z-index:30;transition: none !important}
#intro.show{z-index:50}
#intro .intro-title{top:39px;z-index:1;transform: translate(-50%, calc(-100% - 39px ))}
#intro .intro-subtitle{top: 268px;transform: translate(-50%, calc(-100% - 268px ))}
#intro.show .intro-title{transform: translate(-50%, 0);transition: .5s}
#intro.show .intro-subtitle{transform: translate(-50%, 0);transition: .5s .25s}
.bg-obj{position: absolute;top:0;left:0;width:100%;height:100%}
.game-wrp>.bg-obj{z-index: 10}
.bg-obj>*{position: absolute}
.bx{display: flex;flex-direction: column;align-items: center;justify-content: center;position: absolute;top: 70px;left: 50%;width: 700px;min-height: 200px;padding: 22px 40px;border-radius: 20px;background: #fff;border: 6px solid #DDF5FF;box-shadow: 8px 8px #1E68F8;font-size: 28px;text-align: center}
.bx h3{font-size: 42px;color:#1C69FF}
.bx p{margin-top: 8px}
#act .bx, #ending .bx{transform: translateY(calc( -100% - 80px )) translateX(-50%);transition: transform .4s .5s}
.game-stage.show .bx{transform: translateX(-50%) !important}
#intro .step-wrp {top:142px;left: 433px;transform: none !important}
.step-wrp .btn{position: absolute;bottom: 72px;}
#intro .step-wrp::before {content: "";position: absolute;top: 96%;left: 50%;transform: translateX(-50%);width: 85.82%;height: 46px;border-radius: 50%;background-color: #000;opacity: 0.2}
#intro .step-index {display: flex;position: absolute;bottom: 98%;right: 26px}
#intro .step-index li {display: flex;justify-content: center;align-items: center;width: 60px;height: 60px;border-radius: 30px 30px 0 0;background-color: #FE993C;color: #FFDAA4;font-size: 20px}
#intro .step-index li.active {background-color: #FFC46C;color: #fff}
#intro .step-bx {position: relative;justify-content: flex-start;top:auto;left: auto;width: 748px;height: 492px;padding: 69px 38px;border-radius: 50px;border: 16px solid #A485FF;box-shadow: 8px 8px 0px 0px #D8CAFF inset; transform: none !important}
#intro .step-bx .bx {position: relative;top:auto;left: auto;width: 100%;min-height:140px;padding: 28px 40px;background: #41278B;border-color: #5B39BB;box-shadow: 10px 10px 0px 0px #2E176F inset;transform: none !important}
.step-bx h3 {font-size: 36px;color: #fff;display: none}
.step-bx h3.active {display: block}
#intro .step-bubble {position: absolute;bottom:90%;left: 40px;width: 244px;height: 84px;background: url(../img/step-bubble.png) no-repeat 0 0 / contain;padding-top: 11px;text-align: center;color: #fff}
#round .bx{display:block;top: 54px;bottom: 54px;z-index:5;width: 1000px;min-height: 0;padding: 0;border: 0;box-shadow: none;transition: transform .5s;transform: translate(-50%, calc(-100% - 66px) )}
#round .bx-inner{display: flex;flex-direction: column;align-items: center;justify-content: center;position: relative;z-index: 10;height: 100%;padding: 40px 68px;border-radius: 20px;background: #fff;border: 12px solid #AAC7FF;box-shadow: 0 10px #6594F0}
.round-bubble{position: absolute;bottom: 98%;left: 38px;padding: 12px 50px;background: #D885FF;border: 3px solid #E9B9FF;border-radius: 30px;box-shadow: 0px 6px 0px 0px #9C58BC;font-size: 24px;color: #fff}
.round-bubble:after{content:'';position: absolute;top: 97%;left: 28%;width: 16px;height: 20px;background: url(../img/round-tail.png) no-repeat center / 100%}
.game-wrp{position: relative;overflow: hidden;width: 100%;height: 100%}
.pages{position: absolute;top: 0;left: 0;width: 100%;height: 100%;transform: none}
.pages [class*=page]>*{position: absolute;left: 50%;transform: translateX(-50%)}
.game-stage{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;visibility: hidden;z-index:15;transition: .5s;}
.game-stage.show{opacity:1;visibility: visible;z-index: 20;}
.intro .game-stage#ending{transition: none !important}
.game-stage>*:not(.btn){left:50%;transform: translateX(-50%)}
.game-stage>.btn{opacity: 0;pointer-events: none}
.game-stage.show>.btn{animation: fadeIn .5s 1.25s forwards;pointer-events: auto}
.game-stage>*, .overlay>*{position: absolute}
.round-title{text-align: left}
.overlay{position: absolute;top: 0;left: 0;z-index: 10;width: 100%;height: 100%;color: #fff;visibility: hidden;transform: none}
.result-ai{width:421px;height:335px;bottom:0;left:0;z-index: 10;transform: translate(-100%);transition: .3s .5s;opacity: 0}
.result-ai p{position: absolute;line-height: 1.25;text-align: center;text-shadow: 0 2px rgba(0,0,0,.25)}
.result-ai.correct p{bottom: 195px;left: 195px;transform: rotate(9deg)}
.result-ai.wrong p{bottom: 178px;left: 178px;transform: rotate(8deg)}
.result-desc{bottom:40px;left:0;transform: translate( calc(-100% - 10px) );transition: .3s}
.result-desc p{position: relative;width: 706px;margin-left: 378px;padding: 32px 40px;background: rgba(16, 26, 45, 0.95);border-radius: 30px;box-shadow: 0 10px 4px rgba(37, 49, 71, .2)}
.result-desc p:after{content: '';position: absolute;top: 50%;right: 100%;width: 36px;height: 45px;background: url(../img/tail.png) no-repeat center;transform: translate(50%,calc( -50% + 9px ))}
.overlay-open .overlay{visibility: visible}
.overlay-open .result-ai{transform: translate(0);transition: .3s}
.overlay-open .result-desc{transform: translateY(0);transition: .3s .5s}
.home-ai>*, .intro-ai>*, .end-ai>*{position: absolute;top:0}
.controler{width:100%;margin-top:12px}
.answered .controler{pointer-events: none}
.answer-type-choice label{display: block;position: relative}
.answer-type-choice label b{position: absolute;top: 50%;left: 14px;z-index: 10;width: 2em;height: 2em;background: #364768;border-radius: 50%;font-size: 16px;color: #fff;line-height: 2em;text-align: center;transform: translateY(-50%);transition: .4s}
.answer-type-choice label span{display: block;position: relative;padding: 10px 20px 10px 50px;border: 4px solid #E3EAF1;border-radius: 16px;box-shadow: 5px 5px #C0CBDB}
.answer-type-choice label span:after{content: '';position: absolute;top: 16px;right: 9px;width: 32px;height: 32px;background: url(../img/icon-x.svg) no-repeat center / 100% auto;opacity: 0;transition: .25s}
.answer-type-choice input[data-answer]~span:after{background-image: url(../img/icon-o.svg)}
.answer-type-choice label:hover span{background-color:#EDF1F5 !important;transition:.3s}
.answer-type-choice input:checked~b{background:#FA5266}
.answer-type-choice input:checked~span{background-color:rgba(250, 82, 102, .15) !important;border-color:#FA5266;color:#FA5266}
.answer-type-choice input:checked~span:after{opacity: 1}
.answer-type-choice input[data-answer]:checked~b{background:#1E68F8}
.answer-type-choice input[data-answer]:checked~span{background-color: rgba(30, 104, 248, .15) !important;border-color: #1E68F8;color:#1E68F8}
.answer-type-choice.short {display: flex;flex-wrap: wrap}
.answer-type-choice.short li{display: inline-block;width: calc( (100% - 24px) / 2);margin-top:0}
.answer-type-choice.short li:nth-child(even){margin-left:24px}
.answer-type-choice.short li:nth-child(1n+3){margin-top:20px}
.answer-type-choice.short label b{left: 32px}
.answer-type-choice.short label span{padding:36px 72px}
.answer-type-choice.short label span:after{top: 41px;right: 27px}
.answer-type-ox{display: flex;justify-content: center;margin-top:36px}
.answer-type-ox span{width: 230px;height: 230px;border: 4px solid #E3EAF1;border-radius: 20px;box-shadow: 8px 8px #C0CBDB;font: 0/0 a;
color: transparent}
.answer-type-ox b{display: none}
.answer-type-ox li+li{margin-left: 40px}
.answer-type-ox label span{padding:0;box-shadow: 8px 8px #C0CBDB;background-repeat: no-repeat;background-position: center}
.answer-type-ox label span:after{top:12px;right:12px}
.answer-type-ox label input[value=o]~span{background-image: url(../img/btn-o.svg);background-size:130px auto;}
.answer-type-ox label input[value=x]~span{background-image: url(../img/btn-x.svg);background-size:114px auto;}
.answer-type-ox label input[value=o]:checked~span{background-image: url(../img/btn-o-wrong.svg)}
.answer-type-ox label input[value=x]:checked~span{background-image: url(../img/btn-x-wrong.svg)}
.answer-type-ox label input[value=o][data-answer]:checked~span{background-image: url(../img/btn-o-correct.svg)}
.answer-type-ox label input[value=x][data-answer]:checked~span{background-image: url(../img/btn-x-correct.svg)}
.answer-type-select{margin-top:8px;text-align: left}
.help, .guide{position: absolute;top: 0;left: 0;width: 100%;height: 100%;transform: none}
.help, .guide{opacity: 0;visibility: hidden;z-index:30;transition: none}
.help>*, .guide>*{position: absolute}
.guide-move{width:109px;height:121px;transform: translateX(0);transition: transform 1.5s .5s}
.guide-move .circle{position: absolute;top: 12px;left: 10px;width: 24px;height: 24px}
.guide-move .circle:before, .guide-move .circle:after{content: '';position: absolute;top: 50%;left: 50%;width: calc( 100% + 20px );height: calc( 100% + 20px );background: rgba(255, 199, 0, .4);border-radius: 50%;opacity: .3;transform: translate(-50%, -50%);opacity: 0;animation: flash 2s linear 0s infinite alternate}
.guide-move .circle:after{width: calc( 100% + 10px );height: calc( 100% + 10px );background: rgba(255, 199, 0, .9);animation: flash 2s linear 0s infinite alternate}
.guide-move .circle i{display: inline-block;vertical-align: top;width: 100%;height: 100%;background: #FFC700;border-radius: 50%}
.guide-move .hand{display: inline-block;position: absolute;right: 0;bottom: 0;width: 101px;height: 110px;background-image: url(../img/guide-hand.png)}
.guide-balloon{padding: 11px 21px;background: #ffc700;border: 3px solid #fde07e;border-radius: 30px;font-size: 24px;color: #fff;opacity: 0}
.guide-balloon:after{content:'';position: absolute;top: 50%;right: calc( 100% - 5px );width: 14px;height: 21px;background: url(../img/guide-tail.png) no-repeat center / 100%;transform: translateY(-50%)}
.help-open .help, .guide-open .guide{opacity: 1;visibility: visible;transition: .5s}
.guide-open .guide-balloon{animation: fadeIn .5s forwards}
[data-page] [class*=page0]{opacity: 0;/*transition: opacity .5s*/}
#life{display: flex;align-items: center;position: absolute;top: auto;right: 44px;bottom:100%;padding: 12px 34px;background: #AAC7FF;box-shadow: 8px 8px #6594F0;border-radius: 30px 30px 0 0;transform: none}
#life i{display: inline-block;width: 39px;height: 38px;background: url(../img/icon-star-blue.png) no-repeat center / auto 100%}
#life i.off{background-image: url(../img/icon-star-blue-off.png)}
#life i + i{margin-left: 12px}

/* page01 */
.page01 .result-ai.correct p, [data-page="1"] .result-ai.correct p{bottom: 195px;left: 195px;transform: rotate(9deg)}
.page01 .result-ai.wrong p, [data-page="1"] .result-ai.wrong p{bottom: 178px;left: 178px;transform: rotate(8deg)}
.page01 .retry .result-ai.wrong p, [data-page="1"] .retry .result-ai.wrong p{bottom: 197px;left: 196px}
/* page02 */
.page02 .result-ai.correct p, [data-page="2"] .result-ai.correct p{bottom: 203px;left: 184px}
.page02 .result-ai.wrong p, [data-page="2"] .result-ai.wrong p{bottom: 182px;left: 175px}
.page02 .retry .result-ai.wrong p, [data-page="2"] .retry .result-ai.wrong p{bottom: 199px;left: 193px}
/* page03 */
.page03 .result-ai.correct p, [data-page="3"] .result-ai.correct p{bottom: 206px;left: 197px}
.page03 .result-ai.wrong p, [data-page="3"] .result-ai.wrong p{bottom: 184px;left: 187px}
.page03 .retry .result-ai.wrong p, [data-page="3"] .retry .result-ai.wrong p{bottom: 203px;left: 202px}

/* 단계형 */
.step #round .bx{top: 106px;bottom: 43px;width: 1200px;transform: translate(-50%, calc(-100% - 116px) );box-shadow: 10px 10px #341490;}